@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: #efefef;
    font-family: "Roboto", sans-serif;
}

#offcanvasLabel,
nav h1 {
    color: #ff8b07;
}

nav {
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    /* Mobile - Target screens up to 576px wide */
    @media (max-width: 576px) {
        .logo {
            width: 50px;
        }
        .logo + h1 {
            font-size: 20px;
        }
    }

    /* Tablet - Target screens between 577px and 768px wide */
    @media (min-width: 577px) and (max-width: 768px) {
    }

    /* Desktop - Target screens between 769px and 992px wide */
    @media (min-width: 769px) and (max-width: 992px) {
    }

    /* Large Desktop - Target screens 993px and above */
    @media (min-width: 993px) {
        [data-bs-toggle="offcanvas"] {
            display: none;
        }
    }
}

footer {
    justify-content: center;
}

@media (max-width: 993px) {
    footer {
        text-align: center;
        justify-content: center;
    }
}

#carouselIndicators {
    img {
        height: 500px;
    }
}

.footer-container {
    background-color: #e3f2fd;
}

.highlight-text {
    color: #ecff8e;
    text-shadow: 0 0 4px #000000;
}

.highlight-text2 {
    color: white;
    text-shadow: 0 0 1px #ecff8e;
}

.hover-show-phone {
    > .phone {
        display: none;
    }

    &:hover {
        background-color: #ff8b07;
        // width: 250px;

        > .text {
            display: none;
        }
        > .phone {
            display: block;
        }
    }
}

$navigations-card-width: 25rem;

.navigations {
    display: grid;
    text-align: center;
    .card {
        img {
            max-width: $navigations-card-width;
            height: $navigations-card-width;
            object-fit: cover;
        }
    }
    > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, $navigations-card-width);
        gap: calc($navigations-card-width / 10);
        overflow: auto;
        justify-content: space-evenly;
    }
    a {
        text-decoration: none;
        .card-text {
            color: #000000;
        }
    }
}

#ContactUs {
    > div:first-of-type {
        text-align: center;
    }
}

.gmap-container > iframe {
    width: inherit;
    height: 1000px;
}

.last-line {
}
