@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: #efefef;
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    h1 {
        color: #ff8b07;
    }
}

#carouselIndicators {
    img {
        height: 500px;
    }
}

.footer-container {
    background-color: #e3f2fd;
}

.highlight-text {
    color: #ecff8e;
    text-shadow: 0 0 4px #000000;
}

.highlight-text2 {
    color: white;
    text-shadow: 0 0 1px #ecff8e;
}

.hover-show-phone {
    > .phone {
        display: none;
    }

    &:hover {
        background-color: #ff8b07;
        // width: 250px;

        > .text {
            display: none;
        }
        > .phone {
            display: block;
        }
    }
}

$navigations-card-width: 25rem;

.navigations {
    display: grid;
    text-align: center;
    .card {
        img {
            max-width: $navigations-card-width;
            height: $navigations-card-width;
            object-fit: cover;
        }
    }
    > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, $navigations-card-width);
        gap: $navigations-card-width / 10;
        overflow: auto;
        justify-content: space-evenly;
    }
    a {
        text-decoration: none;
        .card-text {
            color: #000000;
        }
    }
}

#ContactUs {
    > div:first-of-type {
        text-align: center;
    }
}

.gmap-container > iframe {
    width: inherit;
    height: 1000px;
}
